<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let teachingUnit of teachingUnits">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ teachingUnit.name }}</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-card-grid-layout">
      <mat-card class="grade" *ngFor="let teaching of teachingUnit.teachings">
        <mat-card-header>
          <mat-card-title>{{ teaching.name }}</mat-card-title>
          <mat-card-subtitle>{{ teaching.code }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="grade-line" *ngFor="let grade of teaching.grades">
            <p>{{ grade.name }}</p>
            <span [style.color]="getGradeColor(grade)" class="grade-value">{{ grade.value }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
