<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let teachingUnit of teachingUnits">
    <mat-expansion-panel-header>
      <mat-card-title>{{ teachingUnit.name }}</mat-card-title>
    </mat-expansion-panel-header>
    <div class="mat-card-grid-layout">
      <mat-card class="grade" *ngFor="let teaching of teachingUnit.teachings">
        <mat-card-header>
          <mat-card-title>{{ teaching.label }}</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let grade of teaching.grades">
          <mat-card-subtitle>{{ grade.label }}</mat-card-subtitle>
          <span [style.color]="getGradeColor(grade)" class="grade-value">{{ grade.value }}</span>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
